swagger: "2.0"
info:
  version: "2.0"
  title: Партнерский API goods
  contact:
    name: Константин Заваров
    email: konstantin.zavarov@goods.ru
    url: https://goods.ru

host: partner.goods.ru

basePath: /api/market/v2/orderService/
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

tags:
  - name: Введение
    description: |
      Документ содержит описание __Partner API__, предназначенного для взаимодействия __goods__ с системой учета заказов на стороне продавцов.

      ### Схема
      При работе с API рекомендуется использовать __версию v2__. Предыдущие версии API сохранены для совместимости и не рекомендуются к использованию.
      Запросы для __прод__. среды необходимо отправлять по адресу:
      ```
      https://partner.goods.ru/api/market/v2/orderService/
      ```
      Запросы для **тестовой** среды необходимо отправлять по адресу:
      ```
      https://test-partner.goods.ru/api/market/v2/orderService/
      ```

      ### Кодировка
      Данные принимаются и передаются __только__ в кодировке __UTF-8__.

      ### Безопасность
      Доступ осуществляется __только__ через защищенное соединение по протоколу __HTTPS__.

      ### Дата и время
      Дата и время принимаются и передаются в формате [ISO RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14): &nbsp;
      <span style="white-space: nowrap;">`YYYY-MM-DDTHH:MM:SS+HHMM`</span>.

      ### Формат данных
      Данные прнимаются и возвращаются в формате __JSON API__. Рекомендуем ознакомиться со [спецификацией](http://jsonapi.org/).

      В запросах необходимо явно указывать заголовки: `Content-Type`
      со значением
      <span style="white-space: nowrap;">`application/json`</span>
      
  - name: Аутентификация
    description: |
      Во всех POST-запросах передается ключ аутентификации через параметр
      `token`.

      Пример исходящих данных для метода `POST /order/get` (получение подробной информации по заказам)::

      ```
      {
      meta {},
      data {
        "token": "53aa3d6a-baf6-4787-8e8c-b54bc2609b8d",
        "shipments": [
            "81234567890",
            "81234567891"
          ]
      }
      ```

  - name: Обработка ошибок
    description: |
      При обращении к API могут возникать ошибки, о чем система будет сообщать. 
      
      При возникновении ошибки
        * в параметре `success` будет возвращено значение `0`;
        * элемент `error` будет содержать подробную информацию об ошибке. 

      __Важно:__ и в случае успешного выполнения запроса, и в случае ошибочно сформированного запроса, сервер вернет статус __200 OK__.

      ```
      HTTP/1.1 200 OK
      {
        "success": 0,
        "error": {
          "message": "No valid token",
          "code": "0"
        }
      }
      ```

  - name: Управление заказами
    description: Все про управление заказами


paths:

  /order/new:
    post:
      tags:
        - Управление заказами
      summary: Создание заказа
      description: |
        __Метод вызывается goods__ после оформления нового заказа покупателем на сайте. 
        Предназначен для передачи созданного заказа в систему обработки заказов продавца.

        Информация передаваемая продавцу по заказу включает:
        
        * детальную информацию по каждой позиции в заказе;
        * информацию для печати маркировочного листа ([подробнее о маркировочном листе]);
        * максимально возможный срок отгрузки заказа.
      
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - meta
              - data
            properties:
              meta:
                type: object
                description: Блок вспомогательных данных
              data:
                type: object
                description: Блок информационных данных
                required:
                  - shipments
                properties:
                  shipments:
                    type: array
                    description: Список заказов
                    items:
                      type: object
                      required:
                        - shipmentId
                        - shipmentDate
                        - items
                        - label
                        - shipping
                      properties:
                        shipmentId:
                          type: string
                          description: Уникальный идентификатор заказа Goods
                          example: "81234567890"
                        shipmentDate:
                          type: string
                          description: Дата и время создания заказа
                          example: "2017-07-26T15:48:00+03:00"
                        items:
                          type: array
                          description: Список позиций в заказе
                          items: 
                            type: object
                            required:
                              - itemIndex
                              - offerId
                              - price
                              - finalPrice
                            properties:
                              itemIndex:
                                type: string
                                description: Уникальный номер позиции в рамках заказа, нумерация начинается с 0
                                example: "1"
                              offerId:
                                type: string
                                description: Идентификатор оффера (товарного предложения) продавца передаваемый в прайс-листе в параметре id элемента <offer>
                                example: "456789"
                              price:
                                type: string
                                description: Цена позиции из прайс-листа продавца
                                example: "2500.0"
                              finalPrice:
                                type: string
                                description: Цена позиции за вычетом всех скидок
                                example: "2250.0"
                              discounts:
                                type: object
                                description: Список примененных скидок к текущей позиции
                                properties:
                                  discountType:
                                    type: string
                                    description: |
                                      Тип скидки. Возможные значения:
                                      |    Значание    |               Описание                                                     |
                                      | :------------- | :------------------------------------------------------------------------- |
                                      | `LOY`          | Программа Лояльности (снижение цены на товар за счет бонусных рублей)      |
                                      | `BPG`          | BPG - Гарантия Лучшей Цены (снижение цены на товар до минимльной на рынке) |
                                      | `BPG20`        | аналогично BPG                                                             |
                                    example: "BPG"
                                  discountAmount:
                                    type: string
                                    description: Сумма скидки
                                    example: "250.0"
                        label:
                          type: object
                          description: Информация для печати маркировочного листа
                          required:
                            - deliveryId
                            - region
                            - city
                            - address
                            - buyerFullName
                            - merchantId
                            - nerchantName
                            - labelText
                          properties:
                            deliveryId:
                              type: string
                              description: Индентификатор доставки. Печатается на маркировочном листе
                              example: "987654321"
                            region:
                              type: string
                              description: Регион адреса получателя. Печатается на маркировочном листе
                              example: ""
                            city:
                              type: string
                              description: Город адреса получателя. Печатается на маркировочном листе
                              example: "Москва"
                            address:
                              type: string
                              description: Адрес получателя. Печатается на маркировочном листе
                              example: "ул. Самокатная 6/2 кв. 26"
                            buyerFullName:
                              type: string
                              description: ФИО получателя. Печатается на маркировочном листе
                              example: "Заваров Константин Викторович"
                            merchantId:
                              type: string
                              description: Уникальный идентификатор продавца. Печатается на маркировочном листе
                              example: "7"
                            merchantName:
                              type: string
                              description: Юр. наименование продавца. Печатается на маркировочном листе
                              example: "ООО М.Видео"
                            labelText:
                              type: string
                              description: Шаблон маркировочного листа в формате HTML
                              example: "<html>...</html>"
                        shipping:
                          type: object
                          description: Дополнительная информация об отгрузке
                          required:
                           - shippingDate
                          properties:
                            shippingDate:
                              type: string
                              description: |
                                Максимально возможный срок на отгрузку заказа продавцом. Если заказ НЕ будет отгружен до указанного срока, то он считается отмененным продавцом (взымается штрафная комиссия)
                                Дата в формате `YYYY-MM-DDTHH:MM:SS+HHMM`.
                              example: "2017-07-26T15:48:00+03:00"

  /order/confirm:
    post:
      tags:
        - Управление заказами
      summary: Подтверждение заказа
      description: |
        __Метод вызывается продавцом__ после принятия в обработку нового заказа. 
        Ожидается в ответ на запрос `order/new` со стороны goods.

      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - meta
              - data
            properties:
              meta:
                type: object
                description: Блок вспомогательных данных
              data:
                type: object
                description: Блок информационных данных
                required:
                  - shipments
                properties:
                  shipments:
                    type: array
                    description: Список заказов
                    required:
                      - items
                    items:
                      type: object
                      required:
                        - shipmentId
                        - orderCode
                        - items
                      properties:
                        shipmentId:
                          type: string
                          description: Уникальный идентификатор заказа Goods
                          example: "81234567890"
                        orderCode:
                          type: string
                          description: Уникальный идентификатор заказа продавца
                          example: "45578"
                        items:
                          type: array
                          description: Перечень позиций в заказа (для подтверждения)
                          items:
                            type: object
                            required:
                              - itemIndex
                              - shippingDate
                            properties:
                              itemIndex: 
                                type: string
                                description: Уникальный номер позиции в рамках заказа, нумерация начинается с 0
                                example: "1"
                              shippingDate: 
                                type: string
                                description: |
                                  Дата отгрузки, в котороую продавец обязуется отгрузить заказ.
                                  Дата не обязательнодолжна соответствовать дате переданной в методе order/new.
                                  Если дата не соответствует - считается, что продавец переопределил дату отгрузки.
                                  Формат даты `YYYY-MM-DDTHH:MM:SS+HHMM`.
      responses:
        200:
          description: Заказ успешно подтвержден
          schema:
            type: object
            properties:
              success:
                type: integer
                description: Результат выполнения операции
                example: 1

  /order/packing:
    post:
      tags:
        - Управление заказами
      summary: Комплектация заказа
      description: |
        __Метод вызывается продавцом__ после выполнения комплектации заказа. Сообщает goods:
          * о скоплектованных позициях в заказе;
          * уникальный идентификатор заказа продавца

      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - meta
              - data
            properties:
              meta:
                type: object
                description: Блок вспомогательных данных
              data:
                type: object
                description: Блок информационных данных
                required:
                  - shipments
                properties:
                  shipments:
                    type: array
                    description: Список заказов
                    required:
                      - items
                    items:
                      type: object
                      required:
                        - shipmentId
                        - orderCode
                        - items
                      properties:
                        shipmentId:
                          type: string
                          description: Уникальный идентификатор заказа Goods
                          example: "81234567890"
                        orderCode:
                          type: string
                          description: Уникальный идентификатор заказа продавца
                          example: "45578"
                        items:
                          type: array
                          description: Перечень позиций в заказа (для подтверждения)
                          items:
                            type: object
                            required:
                              - itemIndex
                              - shippingDate
                            properties:
                              itemIndex: 
                                type: string
                                description: Уникальный номер позиции в рамках заказа, нумерация начинается с 0
                                example: "1"
                              boxes:
                                type: array
                                description: Информация о грузовых местах
                                items:
                                  type: object
                                  required:
                                    - boxIndex
                                    - boxCode
                                  properties:
                                    boxIndex:
                                      type: string
                                      description:  Номер грузового места
                                    boxCode:
                                      type: string
                                      description: |
                                        Уникальный идентификатор, однозначно идентифицирующий грузовое место продавца. Формируется по шаблону:
                                        `{Идентификатор продавца}*{Номер заказа продавца}*{Номер грузового места}`
                                      example: "7*73606159*1"
      responses:
        200:
          description: Информация о комплектации зафиксирована goods
          schema:
            type: object
            properties:
              success:
                type: integer
                description: Результат выполнения операции
                example: 1

  /order/shipping:
    post:
      tags:
        - Управление заказами
      summary: Отгрузка заказа
      description: |
        __Метод вызывается продавцом__ после выполнения отгрузки заказа курьеру логистического оператора. Сообщает goods:
          * об отгруженных позициях в заказе;

      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - meta
              - data
            properties:
              meta:
                type: object
                description: Блок вспомогательных данных
              data:
                type: object
                description: Блок информационных данных
                required:
                  - shipments
                properties:
                  shipments:
                    type: array
                    description: Список заказов
                    required:
                      - items
                    items:
                      type: object
                      required:
                        - shipmentId
                        - boxes
                        - shipping
                      properties:
                        shipmentId:
                          type: string
                          description: Уникальный идентификатор заказа Goods
                          example: "81234567890"
                        boxes:
                          type: array
                          description: Информация о грузовых местах
                          items:
                            type: object
                            required:
                              - boxIndex
                              - boxCode
                            properties:
                              boxIndex:
                                type: string
                                description:  Номер грузового места
                              boxCode:
                                type: string
                                description: |
                                  Уникальный идентификатор, однозначно идентифицирующий грузовое место продавца. Формируется по шаблону:
                                  `{Идентификатор продавца}*{Номер заказа продавца}*{Номер грузового места}`
                                example: "7*73606159*1"
                        shipping:
                          type: object
                          description: Дополнительная информация об отгрузке
                          required:
                           - shippingDate
                          properties:
                            shippingDate:
                              type: string
                              description:  Фактическая дата отгрузки заказа в формате `YYYY-MM-DDTHH:MM:SS+HHMM`
                              example: "2017-07-26T15:48:00+03:00"
      responses:
        200:
          description: Информация об отгрузке зафиксирована goods
          schema:
            type: object
            properties:
              success:
                type: integer
                description: Результат выполнения операции
                example: 1

  /order/cancel:
    post:
      tags:
        - Управление заказами
      summary: Отмена заказа покупателем
      description: |
        __Метод вызывается goods__, сообщает продавцу о полной или частичной отмене заказа покупателем.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - meta
              - data
            properties:
              meta:
                type: object
                description: Блок вспомогательных данных
              data:
                type: object
                description: Блок информационных данных
                required:
                  - shipments
                properties:
                  shipments:
                    type: array
                    description: Список заказов
                    required:
                      - items
                    items:
                      type: object
                      required:
                        - shipmentId
                        - items
                      properties:
                        shipmentId:
                          type: string
                          description: Уникальный идентификатор заказа Goods
                          example: "81234567890"
                        items:
                          type: array
                          description: Список позиций в заказе
                          items:
                            type: object
                            required:
                              - itemIndex
                            properties:
                              itemIndex:
                                type: string
                                description:  Уникальный номер позиции в рамках заказа, нумерация начинается с 0

  /order/reject:
    post:
      tags:
        - Управление заказами
      summary: Отмена заказа продавцом
      description: |
        __Метод вызывается продавцом__, сообщает goods о полной или частичной отмене заказа.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - meta
              - data
            properties:
              meta:
                type: object
                description: Блок вспомогательных данных
              data:
                type: object
                description: Блок информационных данных
                required:
                  - shipments
                properties:
                  shipments:
                    type: array
                    description: Список заказов
                    required:
                      - items
                    items:
                      type: object
                      required:
                        - shipmentId
                        - items
                      properties:
                        shipmentId:
                          type: string
                          description: Уникальный идентификатор заказа Goods
                          example: "81234567890"
                        items:
                          type: array
                          description: Список позиций в заказе
                          items:
                            type: object
                            required:
                              - itemIndex
                            properties:
                              itemIndex:
                                type: string
                                description:  Уникальный номер позиции в рамках заказа, нумерация начинается с 0
                  reason:
                    type: object
                    description: Причина отмены
                    properties:
                      type:
                        type: string
                        description: |
                          Код причины (из словаря)
                          |    Значание                |               Описание                                                     |
                          | :------------------------- | :------------------------------------------ |
                          | `OUT_OF_STOCK`             | Нет товара в наличии                        |
                          | `INCORRECT_PRICE`          | Неверная цена товара                        |
                          | `INCORRECT_PRODUCT`        | Неверная привязка товара к модели на Goods  |
                          | `INCORRECT_SPEC`           | Неверные характеристики товара на Goods     |
                          | `TWICE_ORDER`              | Два заказа на один и и тот же товар, дубль  |
                          | `NOT_TIME_FOR_SHIPPING`    | Не достаточно времени на отгрузку           |
                          | `FRAUD_ORDER`              | Фродовый заказ                              |


